.w3-2020-classic-blue
{color:#fff;background-color:#34568B}
.w3-2020-flame-scarlet
{color:#fff;background-color:#CD212A}
.w3-2020-saffron
{color:#000;background-color:#FFA500}
.w3-2020-biscay-green
{color:#000;background-color:#56C6A9}
.w3-2020-chive
{color:#fff;background-color:#4B5335}
.w3-2020-faded-denim
{color:#fff;background-color:#798EA4}
.w3-2020-orange-peel
{color:#fff;background-color:#FA7A35}
.w3-2020-mosaic-blue
{color:#fff;background-color:#00758F}
.w3-2020-sunlight
{color:#000;background-color:#EDD59E}
.w3-2020-coral-pink
{color:#000;background-color:#E8A798}
.w3-2020-cinnamon-stick
{color:#fff;background-color:#9C4722}
.w3-2020-grape-compote
{color:#fff;background-color:#6B5876}
.w3-2020-lark
{color:#fff;background-color:#B89B72}
.w3-2020-navy-blazer
{color:#fff;background-color:#282D3C}
.w3-2020-brilliant-white
{color:#000;background-color:#EDF1FF}
.w3-2020-ash
{color:#fff;background-color:#A09998}
.w3-2020-amberglow
{color:#fff;background-color:#DC793E}
.w3-2020-samba
{color:#fff;background-color:#A2242F}
.w3-2020-sandstone
{color:#fff;background-color:#C48A69}
.w3-2020-green-sheen
{color:#000;background-color:#D9CE52}
.w3-2020-rose-tan
{color:#000;background-color:#D19C97}
.w3-2020-ultramarine-green
{color:#fff;background-color:#006B54}
.w3-2020-fired-brick
{color:#fff;background-color:#6A2E2A}
.w3-2020-peach-nougat
{color:#000;background-color:#E6AF91}
.w3-2020-magenta-purple
{color:#fff;background-color:#6C244C}
.w3-2020-classic-blue
{color:#fff;background-color:#34568B}
.w3-2020-flame-scarlet
{color:#fff;background-color:#CD212A}
.w3-2020-saffron
{color:#000;background-color:#FFA500}
.w3-2020-biscay-green
{color:#000;background-color:#56C6A9}
.w3-2020-chive
{color:#fff;background-color:#4B5335}
.w3-2020-faded-denim
{color:#fff;background-color:#798EA4}
.w3-2020-orange-peel
{color:#fff;background-color:#FA7A35}
.w3-2020-mosaic-blue
{color:#fff;background-color:#00758F}
.w3-2020-sunlight
{color:#000;background-color:#EDD59E}
.w3-2020-coral-pink
{color:#000;background-color:#E8A798}
.w3-2020-cinnamon-stick
{color:#fff;background-color:#9C4722}
.w3-2020-grape-compote
{color:#fff;background-color:#6B5876}
.w3-2020-lark
{color:#fff;background-color:#B89B72}
.w3-2020-navy-blazer
{color:#fff;background-color:#282D3C}
.w3-2020-brilliant-white
{color:#000;background-color:#EDF1FF}
.w3-2020-ash
{color:#fff;background-color:#A09998}
.w3-2020-amberglow
{color:#fff;background-color:#DC793E}
.w3-2020-samba
{color:#fff;background-color:#A2242F}
.w3-2020-sandstone
{color:#fff;background-color:#C48A69}
.w3-2020-green-sheen
{color:#000;background-color:#D9CE52}
.w3-2020-rose-tan
{color:#000;background-color:#D19C97}
.w3-2020-ultramarine-green
{color:#fff;background-color:#006B54}
.w3-2020-fired-brick
{color:#fff;background-color:#6A2E2A}
.w3-2020-peach-nougat
{color:#000;background-color:#E6AF91}
.w3-2020-magenta-purple
{color:#fff;background-color:#6C244C}
.w3-2020-classic-blue
{color:#fff;background-color:#34568B}
.w3-2020-flame-scarlet
{color:#fff;background-color:#CD212A}
.w3-2020-saffron
{color:#000;background-color:#FFA500}
.w3-2020-biscay-green
{color:#000;background-color:#56C6A9}
.w3-2020-chive
{color:#fff;background-color:#4B5335}
.w3-2020-faded-denim
{color:#fff;background-color:#798EA4}
.w3-2020-orange-peel
{color:#fff;background-color:#FA7A35}
.w3-2020-mosaic-blue
{color:#fff;background-color:#00758F}
.w3-2020-sunlight
{color:#000;background-color:#EDD59E}
.w3-2020-coral-pink
{color:#000;background-color:#E8A798}
.w3-2020-cinnamon-stick
{color:#fff;background-color:#9C4722}
.w3-2020-grape-compote
{color:#fff;background-color:#6B5876}
.w3-2020-lark
{color:#fff;background-color:#B89B72}
.w3-2020-navy-blazer
{color:#fff;background-color:#282D3C}
.w3-2020-brilliant-white
{color:#000;background-color:#EDF1FF}
.w3-2020-ash
{color:#fff;background-color:#A09998}
.w3-2020-amberglow
{color:#fff;background-color:#DC793E}
.w3-2020-samba
{color:#fff;background-color:#A2242F}
.w3-2020-sandstone
{color:#fff;background-color:#C48A69}
.w3-2020-green-sheen
{color:#000;background-color:#D9CE52}
.w3-2020-rose-tan
{color:#000;background-color:#D19C97}
.w3-2020-ultramarine-green
{color:#fff;background-color:#006B54}
.w3-2020-fired-brick
{color:#fff;background-color:#6A2E2A}
.w3-2020-peach-nougat
{color:#000;background-color:#E6AF91}
.w3-2020-magenta-purple
{color:#fff;background-color:#6C244C}
.w3-2020-fiesta
{color:#fff;background-color:#DD4132}
.w3-2020-jester-red
{color:#fff;background-color:#9E1030}
.w3-2020-turmeric
{color:#fff;background-color:#FE840E}
.w3-2020-living-coral
{color:#fff;background-color:#FF6F61}
.w3-2020-pink-peacock
{color:#fff;background-color:#C62168}
.w3-2020-pepper-stem
{color:#fff;background-color:#8D9440}
.w3-2020-aspen-gold
{color:#000;background-color:#FFD662}
.w3-2020-princess-blue
{color:#fff;background-color:#00539C}
.w3-2020-toffee
{color:#fff;background-color:#755139}
.w3-2020-mango-mojito
{color:#000;background-color:#D69C2F}
.w3-2020-terrarium-moss
{color:#fff;background-color:#616247}
.w3-2020-sweet-lilac
{color:#000;background-color:#E8B5CE}
.w3-2020-soybean
{color:#000;background-color:#D2C29D}
.w3-2020-eclipse
{color:#fff;background-color:#343148}
.w3-2020-sweet-corn
{color:#000;background-color:#F0EAD6}
.w3-2020-brown-granite
{color:#fff;background-color:#615550}
.w3-2020-chili-pepper
{color:#fff;background-color:#9B1B30}
.w3-2020-biking-red
{color:#fff;background-color:#77212E}
.w3-2020-creme-de-peche
{color:#000;background-color:#F5D6C6}
.w3-2020-peach-pink
{color:#fff;background-color:#FA9A85}
.w3-2020-rocky-road
{color:#fff;background-color:#5A3E36}
.w3-2020-fruit-dove
{color:#fff;background-color:#CE5B78}
.w3-2020-sugar-almond
{color:#fff;background-color:#935529}
.w3-2020-dark-cheddar
{color:#fff;background-color:#E08119}
.w3-2020-galaxy-blue
{color:#fff;background-color:#2A4B7C}
.w3-2020-bluestone
{color:#fff;background-color:#577284}
.w3-2020-orange-tiger
{color:#fff;background-color:#F96714}
.w3-2020-eden
{color:#fff;background-color:#264E36}
.w3-2020-vanilla-custard
{color:#000;background-color:#F3E0BE}
.w3-2020-evening-blue
{color:#fff;background-color:#2A293E}
.w3-2020-paloma
{color:#fff;background-color:#9F9C99}
.w3-2020-guacamole
{color:#fff;background-color:#797B3A}
.w3-2020-fiesta
{color:#fff;background-color:#DD4132}
.w3-2020-jester-red
{color:#fff;background-color:#9E1030}
.w3-2020-turmeric
{color:#fff;background-color:#FE840E}
.w3-2020-living-coral
{color:#fff;background-color:#FF6F61}
.w3-2020-pink-peacock
{color:#fff;background-color:#C62168}
.w3-2020-pepper-stem
{color:#fff;background-color:#8D9440}
.w3-2020-aspen-gold
{color:#000;background-color:#FFD662}
.w3-2020-princess-blue
{color:#fff;background-color:#00539C}
.w3-2020-toffee
{color:#fff;background-color:#755139}
.w3-2020-mango-mojito
{color:#000;background-color:#D69C2F}
.w3-2020-terrarium-moss
{color:#fff;background-color:#616247}
.w3-2020-sweet-lilac
{color:#000;background-color:#E8B5CE}
.w3-2020-soybean
{color:#000;background-color:#D2C29D}
.w3-2020-eclipse
{color:#fff;background-color:#343148}
.w3-2020-sweet-corn
{color:#000;background-color:#F0EAD6}
.w3-2020-brown-granite
{color:#fff;background-color:#615550}
.w3-2020-chili-pepper
{color:#fff;background-color:#9B1B30}
.w3-2020-biking-red
{color:#fff;background-color:#77212E}
.w3-2020-creme-de-peche
{color:#000;background-color:#F5D6C6}
.w3-2020-peach-pink
{color:#fff;background-color:#FA9A85}
.w3-2020-rocky-road
{color:#fff;background-color:#5A3E36}
.w3-2020-fruit-dove
{color:#fff;background-color:#CE5B78}
.w3-2020-sugar-almond
{color:#fff;background-color:#935529}
.w3-2020-dark-cheddar
{color:#fff;background-color:#E08119}
.w3-2020-galaxy-blue
{color:#fff;background-color:#2A4B7C}
.w3-2020-bluestone
{color:#fff;background-color:#577284}
.w3-2020-orange-tiger
{color:#fff;background-color:#F96714}
.w3-2020-eden
{color:#fff;background-color:#264E36}
.w3-2020-vanilla-custard
{color:#000;background-color:#F3E0BE}
.w3-2020-evening-blue
{color:#fff;background-color:#2A293E}
.w3-2020-paloma
{color:#fff;background-color:#9F9C99}
.w3-2020-guacamole
{color:#fff;background-color:#797B3A}
.w3-2020-fiesta
{color:#fff;background-color:#DD4132}
.w3-2020-jester-red
{color:#fff;background-color:#9E1030}
.w3-2020-turmeric
{color:#fff;background-color:#FE840E}
.w3-2020-living-coral
{color:#fff;background-color:#FF6F61}
.w3-2020-pink-peacock
{color:#fff;background-color:#C62168}
.w3-2020-pepper-stem
{color:#fff;background-color:#8D9440}
.w3-2020-aspen-gold
{color:#000;background-color:#FFD662}
.w3-2020-princess-blue
{color:#fff;background-color:#00539C}
.w3-2020-toffee
{color:#fff;background-color:#755139}
.w3-2020-mango-mojito
{color:#000;background-color:#D69C2F}
.w3-2020-terrarium-moss
{color:#fff;background-color:#616247}
.w3-2020-sweet-lilac
{color:#000;background-color:#E8B5CE}
.w3-2020-soybean
{color:#000;background-color:#D2C29D}
.w3-2020-eclipse
{color:#fff;background-color:#343148}
.w3-2020-sweet-corn
{color:#000;background-color:#F0EAD6}
.w3-2020-brown-granite
{color:#fff;background-color:#615550}
.w3-2020-chili-pepper
{color:#fff;background-color:#9B1B30}
.w3-2020-biking-red
{color:#fff;background-color:#77212E}
.w3-2020-creme-de-peche
{color:#000;background-color:#F5D6C6}
.w3-2020-peach-pink
{color:#fff;background-color:#FA9A85}
.w3-2020-rocky-road
{color:#fff;background-color:#5A3E36}
.w3-2020-fruit-dove
{color:#fff;background-color:#CE5B78}
.w3-2020-sugar-almond
{color:#fff;background-color:#935529}
.w3-2020-dark-cheddar
{color:#fff;background-color:#E08119}
.w3-2020-galaxy-blue
{color:#fff;background-color:#2A4B7C}
.w3-2020-bluestone
{color:#fff;background-color:#577284}
.w3-2020-orange-tiger
{color:#fff;background-color:#F96714}
.w3-2020-eden
{color:#fff;background-color:#264E36}
.w3-2020-vanilla-custard
{color:#000;background-color:#F3E0BE}
.w3-2020-evening-blue
{color:#fff;background-color:#2A293E}
.w3-2020-paloma
{color:#fff;background-color:#9F9C99}
.w3-2020-guacamole
{color:#fff;background-color:#797B3A}
.w3-2020-red-pear
{color:#fff;background-color:#7F4145}
.w3-2020-valiant-poppy
{color:#fff;background-color:#BD3D3A}
.w3-2020-nebulas-blue
{color:#fff;background-color:#3F69AA}
.w3-2020-ceylon-yellow
{color:#000;background-color:#D5AE41}
.w3-2020-martini-olive
{color:#fff;background-color:#766F57}
.w3-2020-russet-orange
{color:#fff;background-color:#E47A2E}
.w3-2020-crocus-petal
{color:#000;background-color:#BE9EC9}
.w3-2020-limelight
{color:#000;background-color:#F1EA7F}
.w3-2020-quetzal-green
{color:#fff;background-color:#006E6D}
.w3-2020-sargasso-sea
{color:#fff;background-color:#485167}
.w3-2020-tofu
{color:#000;background-color:#EAE6DA}
.w3-2020-almond-buff
{color:#000;background-color:#D1B894}
.w3-2020-quiet-gray,.w3-2020-quiet-grey
{color:#000;background-color:#BCBCBE}
.w3-2020-meerkat
{color:#000;background-color:#95dee3}
.w3-2020-meadowlark
{color:#000;background-color:#ECDB54}
.w3-2020-cherry-tomato
{color:#fff;background-color:#E94B3C}
.w3-2020-little-boy-blue
{color:#000;background-color:#6F9FD8}
.w3-2020-chili-oil
{color:#fff;background-color:#944743}
.w3-2020-pink-lavender
{color:#000;background-color:#DBB1CD}
.w3-2020-blooming-dahlia
{color:#000;background-color:#EC9787}
.w3-2020-arcadia
{color:#fff;background-color:#00A591}
.w3-2020-emperador
{color:#fff;background-color:#6C4F3D}
.w3-2020-ultra-violet
{color:#fff;background-color:#6B5B95}
.w3-2020-almost-mauve
{color:#000;background-color:#EADEDB}
.w3-2020-spring-crocus
{color:#fff;background-color:#BC70A4}
.w3-2020-lime-punch
{color:#000;background-color:#BFD641}
.w3-2020-sailor-blue
{color:#fff;background-color:#2E4A62}
.w3-2020-harbor-mist
{color:#000;background-color:#B4B7BA}
.w3-2020-warm-sand
{color:#000;background-color:#C0AB8E}
.w3-2020-coconut-milk
{color:#000;background-color:#F0EDE5}
.w3-2020-greenery
{color:#fff;background-color:#92B558}
.w3-2020-grenadine
{color:#fff;background-color:#DC4C46}
.w3-2020-tawny-port
{color:#fff;background-color:#672e3b}
.w3-2020-ballet-slipper
{color:#000;background-color:#f3d6e4}
.w3-2020-butterum
{color:#fff;background-color:#c48f65}
.w3-2020-navy-peony
{color:#fff;background-color:#223a5e}
.w3-2020-neutral-gray,.w3-2020-neutral-grey
{color:#fff;background-color:#898e8c}
.w3-2020-shaded-spruce
{color:#fff;background-color:#005960}
.w3-2020-golden-lime
{color:#fff;background-color:#9c9a40}
.w3-2020-marina
{color:#fff;background-color:#4F84C4}
.w3-2020-autumn-maple
{color:#fff;background-color:#d2691e}
.w3-2020-niagara
{color:#fff;background-color:#578CA9}
.w3-2020-primrose-yellow
{color:#000;background-color:#f6d155}
.w3-2020-lapis-blue
{color:#fff;background-color:#004b8d}
.w3-2020-flame
{color:#fff;background-color:#f2552c}
.w3-2020-island-paradise
{color:#000;background-color:#95dee3}
.w3-2020-pale-dogwood
{color:#000;background-color:#edcdc2}
.w3-2020-pink-yarrow
{color:#fff;background-color:#ce3175}
.w3-2020-kale
{color:#fff;background-color:#5a7247}
.w3-2020-hazelnut
{color:#000;background-color:#cfb095}